#**1.1 What is Python?**#

---
Python is a highly popular programming language created by Guido van Rossum in 1991.

It is widely used for various applications:

- Web development.
- Software development.
- Database connectivity.
- Working with different types of data and performing complex - Mathematical operations.
- For rapid prototyping.
- Etc.

There are two versions of Python: Python 2 and Python 3.
In this class, we will focus on Python 3.

In addition to its various applications, Python stands out for its easy syntax. It relies more on indentation and less on parentheses and semicolons.

For practical purposes, in this class, we will use Google Colab: https://colab.research.google.com/notebooks/welcome.ipynb?hl=en

Google Colab allows us to execute and program in Python without the need to directly install anything on our computer.

However, there are other environments for developing and running our Python code, such as Jupyter or Spyder.

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

# **1.2 Comments in Python**

---

Comments can be used to explain how a piece of code or a specific part of code works, to temporarily deactivate a section of code, etc.

There are two ways to add comments in code cells:

- Using a pound sign "#"
- Using triple quotes """ comment """

In [ ]:
# First part of code
msg = "This is the Artificial Intelligence class :D"
print(msg)

This is the Artificial Intelligence class :D

In [ ]:
msg = "This is the Artificial Intelligence class :D" # My first string in Python
print(msg)

This is the Artificial Intelligence class :D

In [ ]:
"""
Name: Daniel Lopez
Class: Artificial Intelligence.
Title: My first code in Python
"""
msg = "This is the Artificial Intelligence class :D"
print(msg)

This is the Artificial Intelligence class :D

# **1.3 Variables**
---
In Python, variables assist us in storing data. One advantage in Python is that there is no need to declare variables before starting to use them; you just need to assign them a default value.

In [ ]:
x = 10 # Integer
y = "Pancho" # string
z = False # boolean
print(x)
print(y)
print(z)
type(y)

10
Pancho
False

str

In [ ]:
# Operations with variables.
x = 5
y = 4
z = 22

print(x + y + z)

31

In [ ]:
# Concatenate strings
x = "Daniel"
y = "Lopez"
print(x + " " + y)

Daniel Lopez

# **1.4 Data types**
---
There are different data types in Python, but we will focus on:

- Text: `str`
- Numeric: `int`, `float`, `complex`
- Sequential: `list`, `tuple`
- Boolean: `bool`

In [ ]:
# Data types examples

x = "hola Mundo" # str
y = 5 # int
z = 65.47 # float
s = 1j # complex
a = ['apple', 'bananna', 'orange'] # list
b = ('apple', 'bananna', 'orange') # tuple
c = True #boolean

Data types can be converted from one to another:

- `x = str(3)`
- `y = int(3)`
- `z = float(3)`

You can also check the data type contained in a variable using `type`.

In [ ]:
# A data type can be converted in other data types.
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

# Verify the data type with "type".
print(type(x))
print(type(y))
print(type(z))

3
3
3.0
<class 'str'>
<class 'int'>
<class 'float'>

## 1.4.1 Numbers

As mentioned earlier, there are three types of numeric data:

*  Integers
*  Floats
*  Complex numbers

The integer (*int*) is a number without decimals, a whole number, negative or positive.

The float (*float*) is a number that contains one or more decimals, and it can have a positive or negative sign.

The complex number (*complex*) is a number with a real part and an imaginary part. The imaginary part is denoted by the letter "j".

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## 1.4.2 Strings

A string of characters can be enclosed in either single or double quotation marks.

In [ ]:
a = "hello!"
b = 'hello!'

print(a)
print(b)

hello!
hello!

In [ ]:
# multiline strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

The `len()` function provides us with the length of a string of characters.

In [ ]:
a = "¡La pizza de Don Cangrejo es la mejor! "
print(len(a))

39

To join or concatenate two strings, you can use the `+` operator.

In [ ]:
a = "My name is: "
b = "Daniel"
c = a + b
print(c)

My name is: Daniel

## 1.4.3 Booleans

In programming, sometimes we need to determine whether an expression is true or false, `True` or `False`, respectively.

In [ ]:
# Expressions to be evaluated.

print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

# **1.5 Operators**
---
Operators are used to perform operations with values and variables.

The main operators are:

- Arithmetic
- Assignment
- Comparison
- Logical

In [ ]:
print(21 + 2)

23

## 1.5.1 Arithmetic

- Addition:  `+` , `x + y`
- Subtraction: `-` , `x - y`
- Multiplication: `*` , `x * y`
- Division: `/` , `x / y`
- Module: `%`, `x % y`
- Exponential: `**`, `x ** y`

## 1.5.2 Allocation

- `=` ,  `x = 5` , `x = 5`
- `+=` , `x += 3`, `x = x + 3`
- `-=` , `x -= 3`, `x = x - 3`
- `*=` , `x *= 3`, `x = x * 3`
- `/=` , `x /= 3`, `x = x / 3`

## 1.5.3 Comparison

- Equal: `==` , `x == y`
- Different from: `!=` , `x != y`
- Greater than: `>` , `x > y`
- Smaller than: `<` , `x < y`
- Greater than or equal: `>=` , `x >= y`
- Smaller than or equal: `<=` , `x <= y`

## 1.5.4 Logical

- `and`: returns `True` if both expressions are true.

    `x < 5 and x < 10`

- `or`: returns `True` if one of the expressions is true.

    `x < 5 or x < 4`

- `not`: returns `False` if the result is `True`.

    `not (5 < 4)`



---


**M.Sc. Daniel López**

**UA: Artificial Intelligence.**

Sources:
1. w3schools.com/python/default.asp
2. codecademy.com
3. Matthes, E. (2019). Python crash course: A hands-on, project-based introduction to programming. no starch press.