# **2.- Arrays or Collections in Python**

---


There are four types of data type collections in Python:

- *List*: It is an ordered and changeable collection.
- *Tuple*: It is an ordered collection but cannot be changed.
- *Set*: It is an unordered and unindexed collection.
- *Dictionary*: It is an ordered and changeable collection.

For the purposes of this subject, we will focus on lists and tuples.

# **2.1 Lists**

---

Lists are used to store multiple elements in a single variable; they are declared using square brackets.
Lists have an order, can be changed, and allow duplicate values; their elements are indexed, where the first element has the index `[0]`, the second element has the index `[1]`, and so on.

In [ ]:
# This is a list
lalista = ["apple", "banana", "cherry"]
print(lalista)

['apple', 'banana', 'cherry']

In [ ]:
# Duplicate values in a list
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
# Length of a list
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
# A list can contain different types of data.
list1 = ["abc", 34, True, 40, "male"]
print(list1)

print(type(list1[-1]))

['abc', 34, True, 40, 'male']
<class 'str'>

Elements within a list are indexed, and they can be accessed through their **index**.

In Python, the first element has an index of` 0`.

There are also **negative indices**. In this case, counting starts from the last element in the list, going backwards to the first element. The index `-1` refers to the last element in the list, `-2` to the second-to-last element.

You can also specify a **range of indices**, which results in a new list.

This also applies to **tuples**.

In [ ]:
# Index
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [ ]:
# Negative index
thislist = ["apple", "banana", "cherry"]
print(thislist[-2])

banana

In [ ]:
# Range of index.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
# Other use for range.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Other use for range.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

# **2.2 Tuples**

---
Tuples are also used to store multiple elements in a single variable; they are declared using parentheses.

A tuple is an ordered collection, but it cannot be changed. Duplicate values are allowed.

Just like with lists, the same rules and syntax regarding indices can be applied to tuples.

In [ ]:
# Tuple example
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
# Duplicates in a tuple.
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
# Tuple length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
# A tuple can also store different types of data.
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
print(type(tuple1[-1]))

('abc', 34, True, 40, 'male')
<class 'str'>

In [ ]:
# Index in a tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

# Negative index
thistuple2 = ("apple", "banana", "cherry")
print(thistuple2[-1])

# Index range
thistuple3 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple3[:2])

banana
cherry
('apple', 'banana')

# **2.3 Index**

Within lists and tuples, each of their elements has a position defined by an index. This way, you can access each of them and use or modify them.

This characteristic is very useful when working with these data sets and in conditionals, for loops, and while loops.

As previously explained, in Python, the first element has an index of `0`, you can select ranges of elements with the structure `[2:5]`, and negative indices, e.g., `[-1`], can be used to select an element from the list or tuple starting from the last position.

In [ ]:
# See tuples and lists examples.

# **2.4 If...Else**
---
A conditional evaluates an expression; depending on the result of the evaluation, an action can be performed or not. To evaluate expressions, comparison operators can be used.

*Comparison operators.*
- Equal: `==` , `x == y`
- Different from: `!=` , `x != y`
- Greater than: `>` , `x > y`
- Smaller than: `<` , `x < y`
- Greater than or equal: `>=` , `x >= y`
- Less than or equal to: `<=` , `x <= y`

In Python, a simple conditional starts with an `if`. You can also use an `elif` to evaluate one or more additional expressions within the same conditional. With an `else`, we can perform an action in case none of the previous conditions have been met.

In [1]:
# Indentation!
a = 33
b = 200

if b > a:
  z = a + b
  print(z)

if b > a:
  print("b is greater than a")

233
b is greater than a

In [2]:
# Elif
a = 33
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [3]:
# Else
a = 33
b = 66

if b < a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif a + a == b:
  print("b is 2 times a")
else:
  print("a is greater than b")

b is 2 times a

In [4]:
# Logical operators "and", "or" y "not".
a = 200
b = 200
c = 50

if a > b and c > a or a == b:
  print(":D")

a = 200
b = 33
c = 500

if a > b or a > c:
  print("At least one of the conditions is True")

:D
At least one of the conditions is True

In [5]:
# Nested Ifs.

x = 9

if x > 10:
  print("Above ten,")
  if x > 20:
    print("Above ten," + " and also above 20!")
  else:
    print("Above ten," + "but not above 20.")

# **2.5 For Loops**

---
A `for` loop is used to iterate over a collection of data or a sequence, e.g. lists and tuples. For each of the iterations, a specific action can be performed.

In [6]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)

apple
banana
cherry

In [14]:
# For on a string

for x in "banana":
  print(x)

b
a
n
a
n
a

With the `range()` function, you can obtain a sequence of numbers, starting at 0, incrementing by 1 by default, and ending at a specific number.

In [8]:
# Range
y = range(5)

for x in y:
  print(x)

#print(y)

0
1
2
3
4

In [9]:
# We can be more specific with the start, end, and increment numbers.

for x in range(2,31,2):
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [10]:
# "Else" on a "for" cycle.
for x in range(3):
  print(x)
else:
  print("Finally finished!")

0
1
2
Finally finished!

In [11]:
# "break" to interrupt a cycle.
for x in range(6):
  if x == 6:
    print("Error!")
    break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [12]:
# Nested for.

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# **2.6 While Loops**

---
Another type of loop is `while`. The characteristic of this loop is that it continues executing while a condition remains true.

In [13]:
# While loop syntax.

i = 1

while i < 6:
  print(i)
  i += 1  # i = i + 1

1
2
3
4
5

In [ ]:
# "break" on a while loop

i = 1

while i < 6:
  print(i)
  if i == 8:
    print("Error!")
    break
  i += 1
else:
  print("se terminó el ciclo while")

1
2
3
4
5
se terminó el ciclo while

# **2.7 Input Function**

---

The `input()` function halts the program's execution and waits for the user to provide some form of input data.

In [15]:
# Program "parrot".

message = input("Tell me something and I will repeat it: ")
print(message)

Tell me something and I will repeat it: Hola
Hola

---
**M.Sc. Daniel López**

**UA: Artificial Intelligence.**

Sources:
1. w3schools.com/python/default.asp
2. codecademy.com
3. Matthes, E. (2019). Python crash course: A hands-on, project-based introduction to programming. no starch press.